.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  height: 100%;
}

.sidebar-open {
  background-color: gray;
  height: 100vh;
  min-width: 350px;
  width: 300px;
}

.sidebar-close {
  background-color: aqua;
  height: 100vh;
  width: 150px;
}

.sidebar-button {
}
