/* App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  flex: 1 1 250px;
  height: 350px;
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  border: solid 1px var(--border-color);
}
