.product-card {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  margin: 20px;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 10px;
  width: 17%;
  height: 30%;
}

.product-card img {
  height: 300px;
  width: 100%;
}

/* .product-card .media {
  height: 250px;
  width: 100%;
} */

.product-card .product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: solid 1px var(--border-color);
}

.product-card .main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.product-card .actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
}
