.receipt {
  width: 300px;
  padding: 20px;
  background-color: #7d938a;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.receipt-subtotal,
.receipt-taxes,
.receipt-total {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.receipt-subtotal span.label,
.receipt-taxes span.label,
.receipt-total span.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.receipt-subtotal span.subtotal,
.receipt-total span.total-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
